<!DOCTYPE html>
<html lang="en">

<head>
    <title>SERVENT</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <h1>SERVENT</h1>
    <h2>connecting people with rides to appointments</h2>
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
    <a href="/apply">APPLY</a>
</body>

</html>