<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serve-nt Login</title>
    <link rel="stylesheet" href="/assets/css/main.css?{{.}}">
</head>

<body>
    <div class="heading">
        <h1>Serve-nt</h1>
        <h2>Welcome! Please Login</h2>
    </div>
    <form action="/login" method="post">
        Username:<br>
        <input type="text" name="username"><br> Password:
        <br>
        <input type="password" name="password"><br> User Type:<br>
        <select name="userType" required="true">
            <option value="Servee">Servee</option>
            <option value="Servent">Servent</option>
        </select><br>
        <input type="submit" value="Login">
    </form>
</body>

</html>