{{define "body"}}
<div class="heading">
    <h1><a href="/">{{.PageData.AppName}}</a></h1>
    <h2>Serving Neighbors Transportation</h2>
</div>
<div id="user-data">
    <h4>FIRST NAME: {{.User.Firstname}}</h4>
    <h4>LAST NAME: {{.User.Lastname}}</h4>
</div>
<div class="login-page">
    <div class="form">
        <ul>
            <li>NO EVENTS YET</li>
        </ul>
    </div>
</div>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/event" method="get">
            <button>Add An Event</button>
        </form>
    </div>
</div>
{{end}}