<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.AppName}} Home</title>
    <link rel="stylesheet" href="/assets/css/style.css?{{.Timestamp}}">
</head>

<body>
    <div class="heading">
        <h1><a href="/">{{.AppName}}</a></h1>
        <h2>Serving Neighbors Transportation</h2>
    </div>
    <div class="profile-page">
        <div class="data-form">
            <table>
                <tr>
                    <td class="td-label">First Name:</td>
                    <td class="td-data">{{.Firstname}}</td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td>{{.Lastname}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{.Email}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>