<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serve-nt Register</title>
    <link rel="stylesheet" href="/assets/css/style.css?{{.}} ">
</head>

<body>
    <div class="heading">
        <h1>Serve-nt</h1>
        <h2>Welcome! Please Login</h2>
    </div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/register" method="post">
                <input type="text" placeholder="first name" name="firstname" />
                <input type="test" placeholder="last name" name="lastname" />
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button>register</button>
                <p class="message">Already registered? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>