<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.AppName}} Registration</title>
    <link rel="stylesheet" href="/assets/css/style.css?{{.Timestamp}} ">
</head>

<body>
    <div class="heading">
        <h1><a href="/">{{.AppName}}</a></h1>
        <h2>Please Register</h2>
    </div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/registration" method="post">
                <input type="text" placeholder="first name" name="firstname" />
                <input type="text" placeholder="last name" name="lastname" />
                <input type="email" placeholder="email" name="email" />
                <input type="password" placeholder="password" name="password" />
                <input type="password" placeholder="confirm password" name="confirmed" />
                <button>register</button>
                <p class="message">Already registered? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>